<section class=" h-dvh">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Experimental</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon download-icon"  (click)="callJspdfService()" aria-label="Example icon-button with heart icon">
            <mat-icon>download</mat-icon>
        </button>
    </mat-toolbar>

    <app-page-blank ></app-page-blank>
  
</section>